{% extends 'traffic_app/base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>Create Account</h2>
        <form method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn">Register</button>
        </form>
        <div class="register-link">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %} 